/* src/components/Home.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-secondary: #ffffff;
  --color-primary: #f2f4f7;
  --color-tertiary: #6200ee;

  --font-logo: 'Poppins', Arial, Helvetica, sans-serif;
  --font-primary: 'Helvetica', Arial, sans-serif;
  --font-secondary: 'Montserrat', Arial, Helvetica, sans-serif;
}

.home-content {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media (max-width: 768px) {
  .home-container h1 {
    font-size: 2rem;
  }
}
