/* src/components/NavBar.css */

.user-photo-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}

.profile-photo-nav {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-photo {
  color: var(--color-primary);
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  background-color: #333;
  padding: 6px 30px;
  color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
}

.logo {
  color: var(--black-color);
  font-family: var(--font-family-logo);
}

.navbar-extra {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

/* Container do Search */
.search-container {
  position: relative;
}

/* Input de Busca */
.search-input-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  width: 250px;
  height: 60px;
  position: relative;
  margin-right: 30px;
}

.search-results {
  position: absolute;
  top: 100%; /* Posiciona o modal abaixo do input */
  left: 0;
  width: 255px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Garante que o modal apareça acima de outros elementos */
  padding:20px 100px;
}

.search-input {
  padding: 15px 20px 6px 45px; /* Espaço para o ícone */
  margin-right: 20px;
  background-color: var(--color-primary);
  border-radius: 25px; /* Bordas mais arredondadas */
  outline: none;
  font-size: 16px; /* Tamanho de fonte maior */
  color: #333; /* Cor do texto */
  transition: all 0.3s ease; /* Transição suave */
  width: 250px; /* Largura fixa para o input */
  border: 2px solid #e0e0e0;
  margin-right: 90px;

}

.search-input:focus {
  border-color: var(--color-tertiary); /* Cor da borda ao focar (roxo moderno) */
  background-color: var(--color-primary); /* Fundo branco ao focar */
  box-shadow: 0 4px 10px rgba(98, 0, 238, 0.2); /* Sombra maior ao focar */
}

.search-input::placeholder {
  color: transparent; /* Esconde o placeholder padrão */
}

/* Ícone de Lupa */
.search-icon {
  position: absolute;
  left: 20px;
  color: #aaa;
  font-size: 1rem;
  transition: color 0.3s ease;
  margin-bottom: 6px;

}

.search-input:focus + .search-icon {
  color: var(--color-tertiary); /* Muda a cor do ícone ao focar */
}


.user-photo-nav {
  background-color: var(--color-secondary);
  color: #e6e6ec;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin: 0;
  border: 1px solid var(--color-primary);
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.user-modal {
  position: absolute;
  top: 55px;
  right: 20px;
  background-color: var(--color-secondary);
  width: 351px;
  height: 522px;
  padding: 15px;
  border-radius: 10px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  box-shadow: -2px 12px 52px -1px rgba(0, 0, 0, 0.1),
    0 2px 24px -1px rgba(0, 0, 0, 0.2), 
    inset 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(100%);  
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.1s ease;
  visibility: hidden; /* Garante que o modal não interfira ao ser oculto */
}

.modal-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.modal-close {
  transform: translateX(100%); /* Move para fora novamente */
  opacity: 0; /* Reduz opacidade */
  visibility: visible; /* Visível enquanto recolhe */
}

.user-modal-item {
  display: flex;
  align-items: center;  /* Centraliza verticalmente */
  padding: 1px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-height: 39px;
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #d4d6d8;
  border-radius: 50%;
  margin-right: 10px; /* Espaçamento entre o círculo e o texto */
}

.user-profile {
  position: relative; /* Garante o posicionamento correto */
  z-index: 10;
  width: 320px;
  height: 150px;
  background-color: var(--color-secondary); /* Adicione um fundo claro para que a sombra fique visível */
  align-items: center;
  padding: 12px;
  justify-content: center;
  border-radius: 8px;
  box-shadow: -2px -2px 2px -2px rgb(0, 0, 0), 2px 1px -1px 1px rgba(0, 0, 0, 0.01);
}

/* Foto de usuário no Modal */
.user-profile img {
  width: 100px; /* Definindo a largura para que se ajuste ao espaço */
  height: 100px; /* A altura também será ajustada */
  border-radius: 50%; /* Manter as bordas arredondadas */
  object-fit: cover; /* Garante que a imagem seja cortada de forma adequada */

  border-radius: 100%;
  padding: 2px;
  border: 3px solid var(--border-color-gray);
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 50px;
  border-radius: 8px;
}

.profile-name {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Cor do texto */
}

hr.modal-divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
  position: relative;
  height: 0.01px;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.01);
}

.edit-profile-btn {
  width: 297px;
  padding: 13px 0px;
  background-color: #e6e8ea;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  margin-top: 3.4px;
}

.edit-profile-btn:hover {
  background-color: #d4d6d8; /* Cor ao passar o mouse */
}

.user-modal-item span {
  margin-left: 10px;
  font-size: 14px;
}

.user-modal-item:hover {
  background-color: #e6e8ea; /* Somente cor de fundo muda */
  border-radius: 8px;
}

.user-modal-item .text {
  /* Texto alinhado à esquerda, próximo do ícone */
  display: inline;  /* Tornando o texto inline */
}

.user-modal-item .icon {
  margin-right: 12px;  /* Espaço entre o ícone e o texto */
}

.user-modal-item:last-child {
  margin-bottom: 0;
}

.modal-footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  color: #777;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 450px) {
  /* Quando a tela for menor que 768px, a sidebar será escondida e terá um menu deslizante */
  .logo {
    transform: translateX(-100%); /* Sidebar fica escondida */
  }

  .logo.open {
    transform: translateX(0); /* Sidebar desliza para a direita */
  }

  /* Ajusta a margem do conteúdo principal para o caso de telas pequenas */
  .content {
    margin-left: 0;
  }
}