/* src/components/Post.css */

  .post-tl {
    width: 100%;
    max-width: 675px; /* Largura máxima para telas grandes */
    height: 100%;
    margin: 17px auto 10px;
    padding: 6px 0x 0px;
    background-color: var(--color-secondary);
    border-radius: 9px; box-shadow: 0 1px 2px rgba(0, 0, 1, 0.2);
  }

  .text-post {
    white-space: pre-wrap;
    padding: 0 10px;
    display: inline-block;
    margin: 0 0 -8px;
    text-justify: inter-word;
    word-wrap: break-word;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.4;
  }
  
  .read-more {
    display: inline-block;
    color: #080809;
    cursor: pointer;
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 5px;
    display: inline-block;
    font-family: 'Helvetica', sans-serif;
    font-variant: small-caps;
    word-wrap: break-word;
  }
  
  .user-photo-timeline {
    background-color: var(--color-secondary);
    color: #e6e6ec;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    padding: 0px 0px;
    box-shadow: inset 0 2px 1px 0 rgba(250, 249, 249, 0.3);
  }
  
  .post-actions-tl{
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: -10px 0px 15px;
    padding: 0px 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    gap: 100px;
    font-size: 13px;
  }
  
  .action-button-tl {
    width: 100%;
    max-width: 130px;
    height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 16px 16px;
    background-color: var(--color-secondary);
    color: #68696c;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: 600;
    margin-top: 2.8px;
  }

  .action-button-tl:hover {
    background-color: #f2f2f2;
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .divider-post-tl {
    border: 0;
    background-color: var(--color-secondary);
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    max-width: 100%;
    margin: 0px 10px 2.5px;
    padding: 0.5px;
  }
  
  p.post-time {
    font-family: "Helvetica", sans-serif;
    font-size: 12px;
    cursor: pointer;
    transition: text-decoration 0.2s ease;
    color: #65686C;
    font-weight: 700;
  }
  
  /* Estilo para o container do tempo do post e ícone de visibilidade */
  .post-time-container {
    display: flex;
    align-items: center;
    gap: 0.3rem; /* Espaçamento entre o tempo e o ícone */
  }
  
  /* Estilo para o ícone de visibilidade */
  .visibility-icon {
    font-size: 13px;
    color: #65686c;
  }
  
  .post-time:hover {
    text-decoration: underline;
  }
  
  /* Container para mídias (imagens e vídeos) */
  .media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 675px;
    height: 675px;
    overflow: hidden;
    margin: 10px auto;
  }
  
  .img-post {
    width: 100%;
    height: 100%;
    max-height: 675px !important;
    object-fit: cover !important;
    display: block;
    margin: 0 0 5px;
  }
  
  .video-post {
    width: 100%;
    height: 100%;
    max-height: 675px;
    object-fit: cover !important;
    display: block;
    color: #080809;
    margin: 0px 0px 5px;
  }
  
  /* Estilo para o rodapé do post */
  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 0 0;
    font-size: 0.9rem;
    color: #666;
  }
  
  /* Estilo para as hashtags */
  .post-hashtags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    padding: 0 5px 5px;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    font-variant: small-caps;
    line-height: 0.7; /* Pode ser uma unidade relativa ou um número */


  }
  
  .hashtag {
    color: #1da1f2; /* Cor azul do Twitter */
    text-decoration: none;
  }
  
  .hashtag:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  
  
  /* Media Queries para Responsividade */
  @media (max-width: 768px) {
    .post {
      max-width: 90%; /* Reduz a largura máxima para tablets */
    }
  
    .media-container {
      max-width: 100%;
      height: auto;
    }
  
    .img-post,
    .video-post {
      height: auto;
    }
  
    .post-actions {
      gap: 50px; /* Reduz o espaço entre os botões */
    }
  
    .action-button {
      font-size: 0.9rem; /* Reduz o tamanho da fonte dos botões */
    }
  }
  
  @media (max-width: 565px) {
    .post {
      max-width: 100%; /* Ocupa toda a largura em celulares */
      margin: 5px auto;
    }
  
    .post-actions {
      gap: 20px; /* Espaço mínimo entre os botões */
    }
  
    .action-button {
      font-size: 0.8rem; /* Fonte ainda menor para celulares */
      padding: 10px 5px; /* Reduz o padding dos botões */
    }
  
    .author-info strong {
      font-size: 14px; /* Reduz o tamanho da fonte do nome do autor */
    }
  
    .author-info p {
      font-size: 12px; /* Reduz o tamanho da fonte da data */
    }
  }