/* src/components/PostField.css */

/* Container Principal */
.post-field-container {
  background-color: var(--color-secondary);
  width: 100%;
  max-width: 675px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  margin-top: -22px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3), 0 2px 4px 1px rgba(0, 0, 0, 0.01);
}

/* Foto do Usuário e Campo de Texto */
.user-input-container {
  background-color: var(--color-secondary);
  display: flex;
  align-items: flex-start;
  gap: 10px;
  line-height: 2.3;
  height: 55px;
}

.user-photo path {
  background-color: var(--color-secondary);
  color: #e6e6ec;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid var(--black-color);
  box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.user-photo {
  height: 55px;
  width: 55px;
}

.profile-photo {
    width: 100px; /* Definindo a largura para que se ajuste ao espaço */
    height: 100px; /* A altura também será ajustada */
    border-radius: 50%; /* Manter as bordas arredondadas */
    object-fit: cover; /* Garante que a imagem seja cortada de forma adequada */
    padding: 2px;
    border: 3px solid var(--border-color-gray);
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.profile-photo:hover {
  border-color: #838383;
  box-shadow: 0 4px 10px rgba(98, 0, 238, 0.2);
  transition: all 0.5s ease;
}

/* Centralizando o placeholder verticalmente */
.post-input {
  width: 100%;
  height: 53.28px;
  padding: 12px 12px; /* Padding igual em cima e embaixo */
  margin: 0;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  color: #64686c;
  background-color: var(--color-primary);
  resize: none;
  transition: all 0.3s ease;
  cursor: text;
  overflow-y: hidden;
  line-height: 1.4; /* Defina o line-height para ajustar a altura do texto */
  box-shadow: inset 0 1px 2px 0.05px rgba(0, 0, 0, 0.09);
}

.post-input:hover {
  border-color: var(--color-tertiary);
  box-shadow: 0 4px 10px rgba(98, 0, 238, 0.2);
}

/* Ajustando o estilo do placeholder */
.post-input::placeholder {
  color: #aaa;
  line-height: 1.5; /* Alinha o placeholder no centro vertical */
  font-family: var(--font-primary);
  font-size: 1.2rem;
}

.post-input:focus {
  border-color: var(--color-tertiary);
  box-shadow: 0 4px 10px rgba(98, 0, 238, 0.2);
}

/* Contador de Caracteres */
.char-count {
  text-align: right;
  font-size: 0.875rem;
  color: #666;
  margin: 10px 0;
  background-color: #ffffff;
}

/* Divisor */
.divider {
  border: 0;
  height: 0.1px;
  background-color: #e0e0e0;
  color: #666;
  margin: 15px 0;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

/* Botões de Upload */
.media-upload-container {
  background-color: var(--color-secondary);
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.media-upload-button {
  width: 100%;
  max-width: 130px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 9px;
  padding: 9px 24px;
  background-color: var(--button-media-color);
  color: #64686c;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: var(--font-primary);
  font-weight: 600;
}

.media-upload-button:hover {
  background-color: var(--button-media-hover-color);
}

/* Pré-visualização de Mídia */
.media-preview {
  background-color: var(--color-secondary);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-bottom: 15px;
}

.media-item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.media-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg.svg-inline--fa.fa-image.media-icon-img {
  color: var(--green-color);
}

svg.svg-inline--fa.fa-video.media-icon-video {
  color: var(--red-color);
}

.remove-media {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  color: #fff;
  width: 25px !important;
  height: 25px !important;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.remove-media:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  resize: vertical;
  margin-bottom: 15px;
  font-family: var(--font-family-logo);
}

/* Contador de Caracteres (Modal e Campo Principal) */
.char-count {
  text-align: right;
  font-size: 0.875rem; /* 14px */
  color: #666;
  margin: 10px 0;
}

.modal-actions {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-button {
  background-color: var(--color-primary);
  padding: 10px 20px;
  color: #333;
  border: none;
  border-radius: 25px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #ccc;
}

.post-button {
  padding: 10px 28px;
  background-color: var(--color-tertiary);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-logo);
}

.post-button:hover {
  background-color: #3700b3;
}

/* Acessibilidade: Foco visível nos botões */
button:focus {
  outline: 3px solid var(--color-tertiary);
}

