/* src/components/PostHistory.css */

.user-photo-timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #d4d6d8;
  border-radius: 50%;
  margin-right: 10px; /* Espaçamento entre o círculo e o texto */
  margin-bottom: 10px;
}

.divider-post {
  background-color: #d4d6d8;
  height: 0.1px;
}