/* src/components/PostHistory.css */

.user-photo-timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #d4d6d8;
  border-radius: 50%;
  margin-right: 10px; /* Espaçamento entre o círculo e o texto */
  margin-bottom: 10px;
}

.divider-post-history {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 0px 0;
}

.text-post-profile {
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  color: #080809;
  margin: 10px 0 10px;
}

.profile-page-details {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 10px;
}

.profile-page-detail {
  display: flex;
  align-items: center;
  gap: 0px;
  font-size: 12px;
  color: #686869;
}

.profile-page-detail curtir {
  color: #111;
}