.profile-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative; /* Adicionado para posicionamento absoluto da foto de perfil */
}

.cabeçalho {
  width: 675px;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--color-secondary);
}

.hPost {
  text-align: justify;
  margin: 14px 0 0;
}

.profile-page-cover {
  width: 100%;
  max-width: 1660px;
  height: 460px;
  overflow: hidden;
  position: relative; /* Adicionado para posicionamento absoluto da foto de perfil */
}

.profile-page-cover-photo {
  width: 100%;
  height: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}

.profile-page-default-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  background: linear-gradient(135deg, #6c757d, #343a40);
  color: white;
  font-size: 1.5rem;
}

.profile-page-header {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  text-align: center;
  margin-top: 100px; /* Ajuste para sobrepor a foto de perfil */
  border-radius: 8px;
}

.profile-page-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--color-secondary);
  position: absolute; /* Posicionamento absoluto para sobrepor a foto de capa */
  top: -69%; /* Posiciona a metade superior da foto de perfil na metade da foto de capa */
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza a foto de perfil */
}

.profile-page-default-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
  color: #6c757d;
}

.profile-page-name {
  margin: 10px 0;
  font-size: 1.8rem;
  color: #343a40;
  font-weight: bold;
}

.profile-page-bio {
  margin: 0px 0 0px;
  font-size: 1rem;
  color: #080809;
}


.profile-page-unfollow-button,
.profile-page-follow-button {
  /* Estilos do botão (ajuste conforme necessário) */
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative; /* Garante que o botão fique acima do conteúdo */
  z-index: 1; /* Coloca o botão acima do conteúdo centralizado */
  display: flex;
  left: 25%;
}

.profile-page-unfollow-button {
  background-color: #ff4d4d;
  color: white;
}

.profile-page-follow-button {
  background-color: var(--color-blue);
  color: white;
}

.profile-page-follow-button:hover {
  background-color: var(--blue-color);
  color: white;
}

.profile-page-unfollow-button:hover {
  background-color: #f32b2b;
  color: white;
}


.profile-page-content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  height: 40px;
  background-color: white;
  position: relative;
  gap: 15px;
}

.profile-page-divider {
  border: 0;
  height: 1px;
  background-color: #e3e6e6;
  width: 100%;
}

.profile-page-info {
  display: flex; /* Faz com que os elementos fiquem lado a lado */
  gap: 20px; /* Espaçamento entre os elementos */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.profile-page-stats {
  font-size: 1rem;
  color: #6b7280;
  margin: 0;
}

.number-follow {
  font-size: 1rem;
  color: #080809;
}

.profile-page-details {
  display: flex; /* Adicionando display flex aqui */
  gap: 10px; /* Mantendo o espaçamento entre os itens */
}

.profile-page-detail {
  display: flex; 
  align-items: center;
  font-size: 12px;
  color: #6b7280;
  margin: 10px 0 0;
  gap: 6px;
}

.profile-page-posts {
  width: 100%;
  max-width: 675px; /* Largura máxima para telas grandes */
  margin: 17px auto 0;
  padding: 6px 0 0px;
  background-color: var(--color-secondary);
  border-radius: 8px;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 2px 100px 1px rgba(0, 0, 0, 0.01);
}

/* Media Queries */
@media (max-width: 768px) {
  .profile-page-cover {
    height: auto;
  }

  .profile-page-cover-photo {
    height: 60vh; /* Reduz proporcionalmente a altura da foto de capa */
  }
}

@media (max-width: 350px) {
  .profile-page-cover-photo {
    height: 50vh; /* Diminui altura até 50% da viewport */
  }

  .profile-page-header {
    width: 200px; /* Reduz tamanho da foto de perfil */
    height: 200px;
  }
}

@media (max-width: 400px) {
  .profile-page-cover-photo {
    height: 40vh; /* Mantém a capa visível em telas muito pequenas */
  }

  .profile-page-header, .profile-page-content {
    width: 150px; /* Reduz ainda mais a foto de perfil */
    height: 150px;
  }
}

/* Estilo específico para telas grandes (desktop) */
@media (min-width: 1024px) {
  .profile-page-cover-photo {
    padding: 0 200px;
  }
}

/* Para telas menores (mobile) */
@media (max-width: 1023px) {
  .profile-page-cover-photo {
    padding: 0; /* Remove padding em telas pequenas */
  }
}