/* Timeline.css */
.timeline {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  padding: 5px; /* Reduz o padding para subir os posts */
}

.post {
  width: 675px;
  margin: 0px; /* Reduz a margem entre os posts */
  padding: 0px;
  border-radius: 8px;
  background-color: var(--color-secondary);
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3), 0 2px 100px 1px rgba(0, 0, 0, 0.01);
}

.author-info {
  padding: 10px;
}

.text-post {
  padding: 10px;
}

.img-post {
  width: 100%;
  margin: 0px auto; /* Reduz a margem entre os posts */
  padding: 0px;
  background-color: var(--color-secondary);
}
.user-photo {
  margin-right: 10px;
}
.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author-photo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-details {
  display: flex;
  flex-direction: column;
}

.author-details strong {
  font-size: 16px;
  color: #333;
}

.author-details p {
  font-size: 14px;  
  color: #777;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  margin-top: -10px 0px 15px;
  padding: 10px 20px;
  margin-bottom: 15px;
  margin-top: -10px;
  gap: 100px;
}

.action-button {
  width: 100%;
  max-width: 130px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 9px;
  padding: 9px 15px;
  background-color: var(--button-media-color);
  color: #64686c;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: var(--font-primary);
  font-weight: 600;
}

svg.svg-inline--fa.fa-retweet.fa-lg {
  color: var(--green-color);
}

svg.svg-inline--fa.fa-heart.fa-lg {
  color: var(--red-color);
}

/*
svg.svg-inline--fa.fa-comment.fa-lg {
  color: var(--blue-color);
}
*/

.error-message {
  color: red;
  text-align: center;
}

/* Divisor */
.divider-post {
  border: 0;
  height: 0.1px;
  background-color: #e0e0e0;
  color: #666;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}