/* Timeline.css */

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .post {
    max-width: 90%; /* Reduz a largura máxima para tablets */
  }

  .media-container {
    max-width: 100%;
    height: auto;
  }

  .img-post,
  .video-post {
    height: auto;
  }

  .post-actions {
    gap: 50px; /* Reduz o espaço entre os botões */
  }

  .action-button {
    font-size: 0.9rem; /* Reduz o tamanho da fonte dos botões */
  }
}

@media (max-width: 565px) {
  .post {
    max-width: 100%; /* Ocupa toda a largura em celulares */
    margin: 5px auto;
  }

  .post-actions {
    gap: 20px; /* Espaço mínimo entre os botões */
  }

  .action-button {
    font-size: 0.8rem; /* Fonte ainda menor para celulares */
    padding: 10px 5px; /* Reduz o padding dos botões */
  }

  .author-info strong {
    font-size: 14px; /* Reduz o tamanho da fonte do nome do autor */
  }

  .author-info p {
    font-size: 12px; /* Reduz o tamanho da fonte da data */
  }
}