.reaction-tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1000;
    white-space: nowrap;
    top: -30px; /* Ajuste a posição conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* Exibe os itens em coluna */
    gap: 4px; /* Espaçamento entre os nomes */
  }