/* src/components/NavBar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #333;
    padding: 5px 20px;
    color: #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFF;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .navbar-logo {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    font-family: "Poppins";
    color: #111;
  }
  
  .navbar-extra {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 12px 20px; /* Mais espaço interno */
    margin-right: 20px;
    border: 2px solid #e0e0e0; /* Borda sutil */
    border-radius: 25px; /* Bordas mais arredondadas */
    outline: none;
    font-size: 16px; /* Tamanho de fonte maior */
    color: #333; /* Cor do texto */
    background-color: #f9f9f9; /* Fundo claro */
    transition: all 0.3s ease; /* Transição suave */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  .search-input:focus {
    border-color: #6200ee; /* Cor da borda ao focar (roxo moderno) */
    background-color: #fff; /* Fundo branco ao focar */
    box-shadow: 0 4px 10px rgba(98, 0, 238, 0.2); /* Sombra maior ao focar */
  }
  
  .search-input::placeholder {
    color: #aaa; /* Cor do placeholder */
    font-style: italic; /* Estilo itálico para o placeholder */
  }
  
  .user-photo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6200ee;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
  }
  