<!-- backend/templates/registration/password_reset_complete.html -->
 
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha Concluída</title>
    <link rel="stylesheet" type="text/css" href="/static/registration/password_reset_complete.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 id="logo">trinar</h1>
        </div>
        <!-- Mensagem principal -->
        <div class="message-container">
            <h2 id="titulo">Senha Redefinida com Sucesso</h2>
            <p id="paragrafo">Sua senha foi redefinida com sucesso. Agora, você pode fazer login com sua nova senha.</p>
            <p>Por favor, <a href="http://localhost:5173/email-confirmed" class="btn">faça login</a>.</p>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="container-footer">
        <!-- Seção de Acessibilidade -->
        <div class="accessibility">
            <a href="#">Português (Brasil)</a>
            <a href="#">English (US)</a>
            <a href="#">Español</a>
            <a href="#">Français (France)</a>
            <a href="#">Italiano</a>
            <a href="#">Deutsch</a>
            <a href="#">العربية</a>
            <a href="#">हिन्दी</a>
            <a href="#">中文(简体)</a>
            <a href="#">日本語</a>
        </div>
        <hr>
        <div class="links">
            <a href="#">Termos de Ajuda</a>
            <a href="#">Upload de Contatos</a>
            <a href="#">Configurações</a>
            <a href="http://localhost:5173/register">Cadastre-se</a>
            <a href="http://localhost:5173/login">Entrar</a>
            <a href="#">Messenger</a>
            <a href="#">Vídeo</a>
            <a href="#">Locais</a>
            <a href="#">Jogos</a>
            <a href="#">Marketplace</a>
            <a href="#">Trinar Pay</a>
            <a href="#">Threads</a>
            <a href="#">Campanhas de Arrecadação de Fundos</a>
            <a href="#">Serviços</a>
            <a href="#">Central de Informações de Votação</a>
            <a href="#">Política de Privacidade</a>
            <a href="#">Central de Privacidade</a>
            <a href="#">Grupos</a>
        </div>
        <p>© 2025 Trinar. Todos os direitos reservados.</p>
    </div>
  </div>

    <script>
        document.getElementById('email-provider').addEventListener('click', function(event) {
            event.preventDefault();
            let emailProvider = prompt("Digite o domínio do seu provedor de email (por exemplo: gmail.com):");
            if (emailProvider) {
                let url = `https://mail.${emailProvider}`;
                window.location.href = url;
            }
        });
    </script>
</body>
</html>
